<header id="main-header">
        <div class="logo">
            <img src="{{ asset('img/logo-loup.png')}}" alt="Logo de loup">
        </div>
        <nav>
            <ul class="navbar">
                <li><a href="{{ path('ressource_index') }}">Accueil</a></li>
                <li><a href="{{ path('folder_index') }}">Dossier</a></li>
                <li><a href="{{ path('format_index') }}">Format</a></li>
                <li><a href="{{ path('ressource_add') }}" class="btn btn-primary">Ajouter une ressource</a></li>
            </ul>
        </nav>
</header>